<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="company">
	<insert id="insertComList" parameterType="java.util.Map">
		insert into company(NO, NAME, CODE, stock_type) 
		values(COMPANY_SEQ.nextVal, #{name}, #{code}, #{stockType})
	</insert>

	<select id="selectComList" resultType="companyVO">
		select no, name, code, stock_type as stockType
		from company
		order by no
	</select>
	
	<select id="selectCom" parameterType="companyVO" resultType="companyVO">
		select no, name, code, stock_type as stockType
		from company
		<where>
			<if test="name != null">
				name = #{name} 
			</if>
			<if test="code != null">
				and code = #{code} 
			</if>
		</where>
	</select>
	
	<select id="selectStockList" parameterType="String" resultType="stockVO">
		select stock.no, com_no as comNo, open_date as openDate, open_price as open, close_price as close, high_price as high, low_price as low, volume, fluc_state as flucState, raise, rate
		from stock, (select no from company where name=#{comName}) company
		where stock.com_no = company.no
	</select>
	
	<select id="selectRTA" parameterType="String" resultType="rtaVO">
		select RT_ANALISYS.no, company.name as comName, ana_code as anaCode, news_code as newsCode, yesterday_fluc as yseterdayFluc,
		today_fluc as todayFluc, today_inc as todayInc, today_dec as todayDec, today_equ as todayEqu,
		tomorrow_fluc as tomorrowFluc, tomorrow_inc as tomorrowInc, tomorrow_dec as tomorrowDec, tomorrow_equ as tomorrowEqu,
		to_char(reg_date,'yyyy-MM-dd') as regDate
		from RT_ANALISYS, company
		where RT_ANALISYS.com_no = company.no and company.name = #{name}
	</select>
	
	<select id="selectBestAnalysis" parameterType="String" resultType="reliabilityVO">
		select no, com_name as comName, ana_code as anaCode, news_code as newsCode, value
		from(
			select *
			from(
				select *
				from ANA_RELIABILITY
				where com_name = #{comName}
				order by value desc
			)
		)
		where rownum=1
	</select>
	
	<select id="selectReliability" parameterType="String" resultType="reliabilityVO">
		select no, com_name as comName, ana_code as anaCode, news_code as newsCode, value
		from ANA_RELIABILITY
		where com_name = #{comName}
	</select>
	
	<select id="selectOneReliability" parameterType="reliabilityVO" resultType="reliabilityVO">
		select no, com_name as comName, ana_code as anaCode, news_code as newsCode, value
		from ANA_RELIABILITY
		where com_name = #{comName} and ana_code = #{anaCode} and news_code = #{newsCode}
	</select>
	
	<select id="selectNewsCount" resultType="newsCountVO">
		select no, news_code as newsCode, today, total
		from news_count
	</select>
	
	<select id="selectBestCompany" resultType="reliabilityVO">
		<![CDATA[
		select com_name as comName, value
		from(
			select *
			from(
				select com_name, max(value) as value
				from ANA_RELIABILITY
				group by com_name
				order by value desc
			)
		)
		where rownum<=3
		]]> 
	</select>
</mapper>
